<section class="first-display-section">
  <div class="container">
    <div class="row">

      <article class="content">
        {% set sectionData = getData('first_section') %}

        <div class="content__header">
          <h1> {{- sectionData.title -}} </h1>
          <p> {{- sectionData.description -}} </p>
        </div>

        <div class="content__description">
          <p> {{- sectionData.about -}} </p>
        </div>
      </article>

    </div>
  </div>
</section>
