<section class="first-display-section">
  <div class="container">
    <div class="row">

      <article class="content">
        <div class="content__header">
          <h1>gulp-nunjucks-starter-kit</h1>
          <p>Инструмент для создания статических сайтов, их проектирования с помощью шаблонизатора Nunjucks и сборки с помощью Gulp + Webpack</p>
        </div>

        <div class="content__description">
          <p>Это тестовая страница, призванная продемонстрировать работоспособность инструмента.</p>
        </div>
      </article>

    </div>
  </div>
</section>
