<section class="first-display">
  <div class="container">
    <div class="row">
      <div class="card-animals js-card-animals">
        {% set arr_animals = { "cat": "2", "dog": "1", "mouse": "4" }%}

        <ol>
          {% for animal, count in arr_animals %}
            <li>{{- animal }} : {{ count -}}</li>
          {% endfor %}
        </ol>

        <button class="button js-btn__card-animals">Click me!</button>
      </div>
    </div>
  </div>
</section>
