
{% from getTemplate('head') import HTMLHead %}

{% set siteData = getData('Global') %}

<!doctype html>
<html lang="{{- siteData.htmlLang -}}">
  {{- HTMLHead() -}}
  <body>
    <div class="wrapper">
      {# Import Header macro component #}
      {% from getComponent('Header') import Header %}
      {% set dataHeader = getData('Header') %}

      {# Each json scheme with Header macro component #}
      {% for item in dataHeader.header %}
        {{- Header(item) -}}
      {% endfor %}

      <main class="main-sections">
        {% include getSection('', 'first_section') %}
      </main>

      {# Import Header macro component #}
      {% from getComponent('Footer') import Footer %}
      {{- Footer() -}}
    </div>

    {% include getTemplate('scripts') %}
  </body>
</html>
