
{% from "templates/_head.njk" import HTMLHead %}

{% set stylesPathes = [
    "vendor/normalize/normalize.css",
    "styles/main.css"
  ]
%}

<!doctype html>
<html lang="en">
  {{- HTMLHead(title = 'Gulp + Nunjucks starter kit', styles = stylesPathes) -}}
  <body>
    <div class="wrapper">
      {# Import Header macro component #}
      {% from getComponent('Header') import Header %}
      {% set dataHeader = getData('Header') %}

      {# Each json scheme with Header macro component #}
      {% for item in dataHeader.header %}
        {{- Header(item) -}}
      {% endfor %}

      <main class="main-sections">
        {% include getSection('', 'first_section') %}
      </main>

      {# Import Header macro component #}
      {% from getComponent('Footer') import Footer %}
      {{- Footer() -}}
    </div>

    {% include "templates/_scripts.njk" %}
  </body>
</html>
