<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/vendor.css" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>{{- getGlobalData.pageTitle -}}</title>
  </head>
  <body>
    {% set arr = { "кошки": "2", "собака": "1", "мышей": "15" }%}

    <ol>
      {% for item, about in arr %}
      <li>У нас есть: {{ about }} {{ item -}}</li>
      {% endfor %}
    </ol>

    <button class="button js-button">кнопка</button>

    <script src="scripts/main.bundle.js"></script>
  </body>
</html>
