@use 'grid_system' as grid;

html,
body {
  padding: 0;
  margin: 0;
}

body.is-clicked {
  padding: 1.2em;
  background-color: mediumaquamarine;
  color: whitesmoke;
}

.row {
  @include grid.row-flex;
}

.container {
  @include grid.container;
}
