@use '_defaults/all_defaults' as rfs;
@use '_defaults/all_defaults' as func;

$header-border-color: #919191;
$header-focused-background-color: #383838;
$header-focused-border-color: #7c7c7c;
$header-focused-text-color: #808080;

.header {
  @include rfs.padding(14px 0);

  & {
    border-bottom: func.rem(1) solid $header-border-color;
  }

  &[data-header-state='focused'] {
    color: $header-focused-text-color;
    background-color: $header-focused-background-color;
    border-color: $header-focused-border-color;
  }
}
